.err-conjugaison{
    color: #C62323;
    text-decoration: underline;
}
.err-ponctuation{
    color: #2364C6;
    text-decoration: underline;
}
.err-syntaxe{
    color: #75C623;
    text-decoration: underline;
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
@font-face {
    font-family: Itim;
    src: url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
  }
.cont-404{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}
.img{
    width: 50vw;
}
.logodelapage{
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.logo{
    width: 60px;
    height: 60px;
}
h1{
    font-size: 4vh;
    padding-bottom: 20px;
    font-family: Itim;
    color: #2B3643
}