.mapping-with-highlight {
    display: flex;
    flex-wrap: wrap;
  }
  
  .highlight {
    position: relative;
  }
  
  .highlight::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .blue::before {
    background-color: blue; /* Couleur pour les mots de type 'NOUN', 'ADJ', 'PROPN' avec erreur */
  }
  
  .green::before {
    background-color: green; /* Couleur pour les mots de type 'VERB', 'AUX' avec erreur */
  }
  
  .orange::before {
    background-color: orange; /* Couleur pour les mots de type 'PRON', 'ADP', 'PART', 'SCONJ' avec erreur */
  }
  
  .grey::before {
    background-color: grey; /* Couleur pour les mots de type 'PUNCT' avec erreur */
  }

  .pink::before {
    background-color: pink; /* Couleur pour les mots de type 'PUNCT' avec erreur */
  }

  .black::before {
    background-color: rgb(191, 255, 161);
}
  
  .invisible-text {
    visibility: hidden;
  }
  