@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

main {
    top: 0;
    width: 100%;
    height: 100%;
    font-family: 'Itim', cursive;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile-container {
    margin-top: 2.5vh;
    height: 95vh;
}

.profile-content {
    background-color: #D8ECFC;
    border-radius: 0.6vw;
}

.profile-perf {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60vw;
}

.profile-dashboard {
    width: 100%;
    height: 60%;
}

.profile-exercises {
    width: 100%;
    height: 35%;
}

/* Profile info style */

.profile-info {
    width: 35vw;
}

.header-profile-info {
    width: 90%;
    height: 22%;
    margin: auto;
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}

.header-profile-info-img {
    width: 35%;
    height: 100%;
}

.header-profile-info-txt {
    width: 60%;
    text-align: start;
    font-size: 5vh;
    display: flex;
    flex-direction: column;
}

.student-name {
    text-transform: uppercase;
}

.profile-stats {
    font-size: 3vh;
    width: 90%;
    margin: auto;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}

.student-regular-mistakes {
    width: 90%;
    height: 59%;
    margin: auto;
    margin-top: 3%;
    background-color: #ffffff5f;
    border-radius: 0.6vw;
}